@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto+Slab:400,700|Roboto:400,500,700,900&display=swap');

body{
    font-family: 'Roboto mono', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home-body{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.grid-container{
    max-width: 980px;
    margin:auto;
}
a{
    text-decoration: none;
    display: inline;
    color: black;
}
header{
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
header .header-icons-container{
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #47cfac;
}
header .header-icons-container .icons{
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}
header .icons span{
    color:white;
}
nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}
nav .nav-logo-container{
    margin-left: 50px;
}
nav .nav-logo-container img{
    width: 220px;
    margin-top:10px;
}
nav .profile-link{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}
nav .profile-link a{
    color:black;
    border-bottom: 4px solid black;
    font-weight: 700;
    font-size: 1.2rem;
}
nav .profile-link a:hover{
    color:black;
    border-bottom: 4px solid #47cfac;
    font-weight: 700;
}

.home-main{
    display: grid;
    grid-template-columns:1fr 4fr 1fr;
    height: 100%;
    background-image: url('../assets/img/Cover.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-main section{
    display: grid;
    grid-column:2;
    justify-items: center;
    height: 350px;
    margin-top: 80px;
}
.home-main-text{
    font-size: 2.5rem;
    font-weight: 700px;
    letter-spacing: 10px;
    color: white;
    text-align: center;
}
.home-main-button{
    width: 300px;
    height: 70px;
    background-color: #47cfac;
    display: grid;
    align-items: center;
    font-weight: 700;
    font-size: 1.8rem;
    border-radius: 10px;
    cursor: pointer;
    border-color: transparent;
}
.home-main-button:hover {
	border: 3px solid transparent;
	background-color: white;
}
footer{
    width: 100%;
    height:80px;
    background-color: #22272d;
    border-top:35px solid #47cfac;
    text-align: center;
}
footer p{
    color: white;
    margin-top: 30px;
    text-align: center;
}

.contact-main-container{
    width:100%;
    min-height: 250px;
    background-color: #e6e9ed;
    text-align: center;
    padding-bottom: 50px;
}
.contact-main-container div{
    display: inline-block;
    width:49.5%;
    height: 100%;
}
.contact-main-container div a{
   border-bottom: 1px solid black;
   padding-bottom: 5px;
}
.contact-main-container, .contact-left, .contact-right{
    text-align: center;
    margin-top: 85px;
}
.contact-main-container img{
    width:100px;
}